@font-face {
    font-family: "Roboto Condensed";
    src: url("Oswald,Roboto_Condensed/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf");

}

main {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Roboto Condensed";

}

a {
    color: black;
}


#controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}



#numbers {
    margin: auto;
    margin-top: 15px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;


}

.numberDiv {
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 25%;
    cursor: pointer;

}

.markOrange {
    background-color: orange;
}

.markGreen {
    background-color: lightgreen;
}

.markBlue {
    background-color: skyblue;
}

.markRed {
    background-color: red;
}


.inputBox {
    border: 1px solid black;
    width: 80px;
    height: 22px;
    text-align: center;
    display: inline-block;
    margin: 2px 5px;
    font-family: "Roboto Condensed";
    font-size: 16px;
    padding-top: 2px;

}

.button {
    height: 28px;
    font: "Roboto Condensed";
}

.centered {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

#removed {
    width: 200px;
}

#repetitions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inline {
    display: flex;

}

#reps {
    margin-top: 20px;
    flex-grow: 2;
    width: 400px;

}

#notInPlace {
    width: 400px;
    height: min-content;
    flex-shrink: 1;
}